<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>1067098.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FB2</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.dreamdev.fb2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>1067096.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>EPUB</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.dreamdev.epub</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>1067102.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TXT</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.dreamdev.txt</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>Created by Qt/QMake</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon29x29.png</string>
				<string>AppIcon29x29@2x.png</string>
				<string>AppIcon40x40@2x.png</string>
				<string>AppIcon57x57.png</string>
				<string>AppIcon57x57@2x.png</string>
				<string>AppIcon60x60@2x.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon29x29.png</string>
				<string>AppIcon29x29@2x.png</string>
				<string>AppIcon40x40@2x.png</string>
				<string>AppIcon57x57.png</string>
				<string>AppIcon57x57@2x.png</string>
				<string>AppIcon60x60@2x.png</string>
				<string>AppIcon29x29~ipad.png</string>
				<string>AppIcon29x29@2x~ipad.png</string>
				<string>AppIcon40x40~ipad.png</string>
				<string>AppIcon40x40@2x~ipad.png</string>
				<string>AppIcon50x50~ipad.png</string>
				<string>AppIcon50x50@2x~ipad.png</string>
				<string>AppIcon72x72~ipad.png</string>
				<string>AppIcon72x72@2x~ipad.png</string>
				<string>AppIcon76x76~ipad.png</string>
				<string>AppIcon76x76@2x~ipad.png</string>
				<string>AppIcon83_5x83_5@2x~ipad.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSCalendarsUsageDescription</key>
	<string>Calendar access</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera access</string>
	<key>NSMainNibFile</key>
	<string>LaunchScreen</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Snapchat needs access to your photos to save Snashots or use images from your camera roll.</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FB2</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>1067098.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.dreamdev.fb2</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fb2</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>EPUB</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>1067096.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.dreamdev.epub</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>epub</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TXT</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>1067102.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.dreamdev.txt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>txt</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
